<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcR8wEv6NgPTaN1yE7VsghOGReHDwGCRM</string>
	<key>GCM_SENDER_ID</key>
	<string>368915910530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TeamManagement</string>
	<key>PROJECT_ID</key>
	<string>playtplus-879fd</string>
	<key>STORAGE_BUCKET</key>
	<string>playtplus-879fd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368915910530:ios:7eeccc56fff5d63438c99b</string>
</dict>
</plist>